# چارچوب اصلی
Django==5.0.6
djangorestframework==3.15.0

# تشخیص چهره با DeepFace
deepface==0.0.79
numpy==1.26.3
Pillow==10.2.0
opencv-python==4.8.0.76
tensorflow>=2.16.0
keras>=2.16.0

# برای کار با داده‌های base64
python-magic==0.4.27

# برای مدیریت CORS در صورت نیاز
django-cors-headers==4.3.1

# پشتیبانی از دیتابیس PostgreSQL
psycopg2-binary==2.9.9

# برای محیط تولید
gunicorn==21.2.0

# محیط توسعه و تست
django-debug-toolbar==4.3.0
pytest==7.4.4
pytest-django==4.7.0

# برای کار با دوربین‌های خارجی
ffmpeg-python==0.2.0

# محیط متغیرها
python-dotenv==1.0.0

# برای نصب برخی پکیج‌ها
cmake==4.0.2